
.profile {
    display: inline-block;
    margin-top: 30px;
    margin-left: 100px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.avatar {
    margin-top: 15px;
    max-width: 300px;
    border-radius: 50%;
}
.name {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.tag {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
.location {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
.stats {
    display: flex;
    border-top: 1px solid #000;
    margin-top: 15px;
}
.stats > li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.label {
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
.quantity {
    font-size: 20px;
    font-weight: 500;
}